params {
    fasta = false
    pdb = false
    ligands = false
    outputDir = './output/'
    help = false

    colabfoldArgs="--amber --use-gpu-relax --templates --num-recycle 1 --num-models 1"
    pdb_type = 0
    pfam_path="/mnt/x/Disertatie/Pfam/"
    
    md_exhaustiveness = 4
    md_box_size = 20
    md_spacing = 0.375
    dock_pockets = true
    
    skipSequenceProperties = false
    skipPfamSearch = false
    skipStructuralAnalysis = false
    skipAlphaFold = false
    skipStructureViewer = false
    skipPocketPrediction = false
    skipPointMutations = false
    skipMolecularDocking = false
    skipMultiQC = false
}

timeline {
    enabled = true
    file = "$params.outputDir/timeline.html"
}

report {
    enabled = true
    file = "$params.outputDir/report.html"
}

trace {
    enabled = true
    file = "$params.outputDir/trace.tsv"
}

dag {
    enabled = true
    file = "$params.outputDir/dag.png"
}

manifest {
    name = 'AFPAP'
    author = 'Maghiar Octavian'
    mainScript = 'main.nf'
    version = '1.0.0'
}
