params {
    AFPAP_PATH="/mnt/x/Disertatie/AFPAP"
    Pfam_PATH="/mnt/x/Disertatie/Pfam"


    fasta = false
    pdb = false
    outputDir = './output/'

    help = false
    ligands = false
    md_exhaustiveness = 4
    md_box_size = 20
    md_spacing = 0.375
    skipAlphaFold = true
    skipSequenceAnalysis = false
    skipPfamSearch = false
    skipStructureViewer = false
    skipPocketPrediction = false
    skipPointMutations = false
    skipMolecularDocking = false
    skipMultiQC = false
}

timeline {
    enabled = true
    file = "$params.outputDir/timeline.html"
}

report {
    enabled = true
    file = "$params.outputDir/report.html"
}

trace {
    enabled = true
    file = "$params.outputDir/trace.txt"
}

dag {
    enabled = true
    file = "$params.outputDir/dag.png"
}

manifest {
    name = 'AFPAP'
    author = 'Maghiar Octavian'
    mainScript = 'main.nf'
    version = '1.0.0'
}