params {
    fasta = false
    pdb = false
    ligands = false
    outputDir = './output/'

    pfam_path = ""
    blastdb_path = ""
    blastArgs = "-evalue 1e-5 -num_threads 12 -num_iterations 3"
    colabfoldArgs = "--amber --use-gpu-relax --templates --num-recycle 3 --num-models 5"
    pdb_type = 0

    md_exhaustiveness = 16
    md_box_size = 20
    md_spacing = 0.375
    dock_pockets = true
    
    skipSequenceProperties = false
    skipPfamSearch = false
    skipConservationMSA = false
    skipStructuralAnalysis = false
    skipAlphaFold = false
    skipStructureViewer = false
    skipPocketPrediction = false
    skipStabilityChanges = false
    skipMolecularDocking = false
    skipMultiQC = false
    help = false
}

timeline {
    enabled = true
    file = "$params.outputDir/timeline.html"
}

report {
    enabled = true
    file = "$params.outputDir/report.html"
}

trace {
    enabled = true
    file = "$params.outputDir/trace.tsv"
    raw = true
}

dag {
    enabled = true
    file = "$params.outputDir/dag.png"
}

manifest {
    name = 'AFPAP'
    author = 'Maghiar Octavian'
    mainScript = 'main.nf'
    version = '1.0.0'
}
