div.code-parent{
    display: flex;
    justify-content: center;
}

pre.codes {
    white-space: pre-wrap;
    font-size: 18px;
  }
  
  pre.codes::before {
    counter-reset: listing 1;
    content: "";
  }
  pre.codes code::after {
    counter-increment: listing 50;
    content: "";
  }
  pre.codes code::before {
    content: counter(listing) " ";
    display: inline-block;
    width: 3em; 
    text-align: right; 
    font-size: 60%; 
  }
  div#icn3dwrap * {
    box-sizing: content-box;
    -webkit-box-sizing: content-box;
    line-height: normal;
}
.codes span{
  padding: 0 2px 0 2px;
  font-size: 110%;
}
.codes .smallNonpolar{
  background-color: rgb(255, 166, 133);
}
.codes .hydrophobic{
  background-color:rgb(21, 255, 21);
}
.codes .polar{
  background-color: magenta;
}
.codes .negativeCharge{
  background-color: rgb(255, 67, 67);
}
.codes .positiveCharge{
  background-color: rgb(98, 163, 255);
}


div#icn3dwrap label {
  font-weight: normal;
}